@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.App {
  height: 100vh;
  position: relative;
}

/* ------------ COUNTER APP ------------*/
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-size: 6rem;
}

.box-amount {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.box-amount>input {
  padding: 2px 6px;
  width: 40px;
  margin-left: 8px;
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 0.175rem;
}

.box-amount>input:focus {
  outline: none;
}

.box-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.box-btn>button {
  padding: 4px 8px;
  font-size: 1.025rem;
  margin: 0 12px;
}

.time {
  font-size: 1.025rem;
}

/* ------------ MODAL ------------*/
.modal-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  animation: fadeIn .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  position: relative;
  width: 500px;
  height: 520px;
  background-color: white;
  border-radius: 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: zoomIn .4s;
}

/* ------------ CLOSE BUTTON ------------*/
.close-btn {
  position: absolute;
  right: 8px;
  font-size: 2rem;
  color: #d9d9d9;
  cursor: pointer;
  padding: 0 6px;

}

.close-btn:hover {
  color: #808080;
}

/* ------------ ANIMATION ------------*/
@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(.2, .2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.2, .2);
  }
}

/* ------------ MODAL BUTTON ------------*/
.credit-btn {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 0.75rem;
  background-color: #f2f2f2;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.credit-btn:hover {
  background-color: #d9d9d9;
}